.backgroung_image {
    background-image: url("Doctor_Holding_Stethoscope.webp");

    position: absolute;
    top: 10;
    left: 70;
    z-index: -1;
    width: 1000vh;
    height:1000px;
}
#button{
	border-radius: 20px;
	position: absolute;
    right: 30px;
    top: 30px;
	color: rgb(0, 0, 0);
	background-color:  rgb(202, 224, 255);
	width: 60px;
	height: 30px;
}
.company_logo{
	background-image: url("doctor-symbol-b.png");
    background-repeat: no-repeat;
	width: 80px;
	height: 60px;
}

header{
    background-color: rgb(39, 39, 137);
    padding: 10px;
    position: sticky;
    top: 0;
}
select {
	margin-bottom: 10px;
	margin-top: 10px;
	outline: 0;
	background: rgb(39, 39, 137);
	color: #fff;
	border: 1px solid;
	padding: 4px;
	border-radius: 9px;
  }

#details{
    border-radius: 10px;
    background-color: rgb(202, 224, 255);
    width: 300px;
    margin: 50px auto 0px auto;
}
h1{
    color: rgb(7, 36, 115);
    text-align: left;
	width: 800px;
	font-size: 50px;
    text-shadow: 0 0 9px #ffffff, 0 0 8px rgb(0, 0, 0);
}

h2{
    color: rgb(6, 6, 70);
    text-align: center;
    padding: 10px;
}

label{
    font-size: 15px;
}

#name{
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: 0;
    padding: 10px;
}
#Date{
	margin-bottom: 10px;
	margin-top: 10px;
	outline: 0;
	background: rgb(39, 39, 137);
	color: #fff;
	border: 1px solid;
	padding: 4px;
	border-radius: 9px;
}
#second{
    padding: 90px;
}

p{
    color: aliceblue;
}

#submi{
    border-radius: 20px;
    background-color: rgb(13, 67, 113);
    color: aliceblue;
    width: 200px;
    height: 40px;
}

#main{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}



.footer{
	background-color: rgb(39, 39, 137);
    padding: 30px 0;
}
.footer-col{
   width: 25%;
   padding: 0 10px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgb(39, 39, 137);
	height: 1px;
	box-sizing: border-box;
	width: 40px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 14px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 4px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color:aliceblue;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color:rgb(255, 255, 255);
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




